body{
	display: flex;
	justify-content: center;
/*	align-items: center;*/
/*	min-height: 95vh;*/
	background: url(web.jpg) no-repeat;
	background-size: cover;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
    padding: 10px;
}

header{
	justify-content: center;
	margin-left: 430px;
	justify-items: center;
	text-align: center;
}
h2{
/*	text-align: center;*/
	justify-content: center;
	font-family: cursive;
	font-size: 2.5em;
	color: #fff;
/*	margin-left: 200px;*/
}
h3{
/*	text-align: center;*/
	margin-top: -20px;
	font-family: cursive;
	font-size: 1.6em;
/*	margin-left: 200px;*/
	color: #fff;
}
hr{
	width: 750px;
	margin-top: 10px;

/*	margin-left: 200px;*/
}
.btnn{
	background: transparent;
	color: #fff;
	margin-top: 75px;
	margin-left: -750px;
	width: 65px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 500;
	transition: .8s;
}
.btn1{
	background: transparent;
	color: #fff;
	margin-top: 75px;
	margin-left: -70px;
	width: 65px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 500;
	transition: .8s;
}
.btnn:hover{
	background: #fff;
	color: black;
}
.btn1:hover{
	background: #fff;
	color: black;
}
.btn2{
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	padding: 2px;
	font-size: 1em;
	outline: none;
	font-weight: 550;
	margin: 20px;
	border-radius: 5px;
	width: 100px;
	height: 50px;
	transition: .6s;
	cursor: pointer;
}
.btn2:hover{
	color: black;
	background: #fff;
}
.btn4{
	background: transparent;
	color: #fff;
	margin-top: 130px;
	margin-left: -70px;
	width: 65px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 500;
	transition: .8s;
}
.btn4:hover{
	color: black;
	background: #fff;

}
.btn3{
	background: transparent;
	color: #fff;
	margin-top: 130px;
/*	margin-right: 100px;*/
	margin-left: -750px;
	width: 65px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 500;
	transition: .8s;
}
.btn3:hover{
	color: black;
	background: #fff;

}
/*.gg p{
	color: #fff;
	text-align: left;
	margin-left: -350px;
	margin-top: -200px;
	font-size: 20px;
	font-family: cursive;
}
.gg h1{
	margin-top: -100px;
	color: #fff;
	margin-left: -350px;
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	margin-bottom: -50px;
}*/
.gg{
	color: #fff;
	font-family: cursive;
	padding-bottom: 200px;
	padding-right: 200px;
	padding-top: 100px;
}
.data{
	color: #fff;
	font-size: 20px;
	font-family: cursive ;
	margin-top: 300px;
	margin-right: 170px;
	margin-left: -700px;
/*	margin-right: 300px;*/
	text-align: center;
	justify-content: center;
	justify-items: center;
	padding-right: 200px;
	align-content: center;
	align-items: center;
/*	margin-left: -200px;*/
}



